{% load static %}
<footer class="footer py-5 bg-dark text-light">
    <div class="container">
        <div class="row">
            <!-- Company Description -->
            <div class="footer-col col-md-3 mb-4">
                <a href="home.html">
                    <img src="{% static 'assets/img/logo2.png' %}" alt="ThreeComp Logo" width="230" height="50">
                </a>
                <p>THREECOMP GROUP vous accompagne dans la mise en place et la réussite de votre projet grâce à des solutions technologiques innovantes et développées sur mesure.</p>
            </div>
            
            <!-- Quick Links -->
            <div class="footer-col col-md-3 mb-4">
                <h4>Accès rapide</h4>
                <ul class="list-unstyled">
                    <li><a href="#home" class="nav-link">Home</a></li>
                    <li><a href="#expertise" class="nav-link">Expertise</a></li>
                    <li><a href="#solutions" class="nav-link">Solutions</a></li>
                    <li><a href="#realisation" class="nav-link">Réalisation</a></li>
                    <li><a href="#materiel" class="nav-link">Service & Matériel</a></li>
                    <li><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
            
            <!-- Help & Support -->
            <div class="footer-col col-md-3 mb-4">
                <h4>Aide</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">FAQ</a></li>
                    <li><a href="#" class="nav-link">Livraison</a></li>
                    <li><a href="#" class="nav-link">Retours</a></li>
                    <li><a href="#" class="nav-link">Statut de la commande</a></li>
                    <li><a href="#" class="nav-link">Options de paiement</a></li>
                </ul>
            </div>
            
            <!-- Social Media Links -->
            <div class="footer-col col-md-3 mb-4">
                <h4>Suivez-nous</h4>
                <div class="social-links d-flex">
                    <a href="https://www.facebook.com/threecomp.maroc/?locale=en_GB" class="me-3">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/threecomprabat/" class="me-3">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="#" class="me-3">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a href="https://fr.linkedin.com/company/three-comp">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Copyright -->
        <div class="text-center mt-4">
            <p class="m-0">&copy; 2024 ThreeComp. Tous droits réservés.</p>
        </div>
    </div>
</footer>
